<h1>Your text reversed </h1>
<p> You typed - <%= params[:post][:texto] %></p>
<p> Your text is resersed: - <%= params[:post][:texto].reverse %> </p>

<p>Use Again:  <a href="/"> click for New text</a> .</p>
